/*
body {
	background-color: white;
	color: #141823;
}

#home-maincontainer{
    width: 100%;
	height: 100%;
	margin: 0 auto;
}

#home-header{
    background-color: #119;
   	margin: 0 auto;
	position: relative;
	width: 1000px;
	height: auto;
}

#home-leftheader{
    	margin: 8px 20px 8px 20px;
	width: 460px;
	position: relative;
	float: left;
}


#home-rightheader{
		margin: 0px 20px 0px 20px;
	width: 460px;
	position: relative;
	float: left;

}

.home-smallrightheader{
    	margin: auto;
	width: 20%;
	height: 20px;
	position: relative;
	float: right;
	text-align: right;
	font-weight: bold;
	cursor: pointer;
	
	border-radius: 5px;
	font-size: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
}

#sredinica{
    margin: auto;
}

#1{
    text-align: right;
}

*/