<div>
<form role="form" name="form1"> 
    <div>
       <h1 >Log In</h1>
    </div>
                

    <div class="form-group">
        <label for="logInEmail">Email:</label>
       <input type="text" placeholder="Enter email" class="form-control" required ng-model = user.email />
        
    </div>
    
    <div class="form-group">
        <label for="logInPassword">Password:</label>
        <input type="password" placeholder="Password" id="logInPassword" class="form-control" required ng-model = user.password />
    </div>
    
    <div>
       <button class="btn btn-primary" ng-disabled="form1.$invalid" ng-click="vm.logIn(user)">Log In</button>
    
    </div>

    
    
    <p>{{vm.message}}</p>



</form>
        <div>
     <button class="btn btn-primary" ng-click="vm.addUser()">Register</button>

</div>
</div>