<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #4d79ff; height:100px;">
                <div class="col-xs-4">
                    <div class="container-fluid">
                        <div class="navbar-header col-xs-2">
                            <button style="color:white;" class="btn btn-link  navbar-brand" ng-click="vm.home()">Flezbook</button>

                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <!--PRAZAN DEO-->

                </div>
                <div class="col-xs-6">
                    <form role="form" name="form1" class="navbar-form navbar-right">
                        <div class="col-xs-2 form-group">
                            <label>Email</label>
                            <input type="text" placeholder="Enter email" class="form-control" required ng-model=user.email />
                        </div>
                        <div class="col-xs-2 form-grup">
                             <label>Password</label>
                            <input type="password" placeholder="Password" id="logInPassword" class="form-control" required ng-model=user.password />
                        </div>
                        <div class="col-xs-2 form-group">
                            <button class="btn btn-primary" ng-disabled="form1.$invalid" ng-click="vm.logIn(user)">Log In</button>
                        </div>
                    </form>

                </div>
            </nav>

        </div>
    </div>

    <div class="row" style="padding-top: 100px;">

        <div class="col-xs-6">
            <h2 style="text-align:centar; margin-top: 25%;">Connect with friends and the world around you on Flezbooks.</h2>
            <br>
            <img src="images/zfYvmRWJSyz.png" height="120" width="160" style="align:centar" />

        </div>



        <div class="col-xs-6">
            <div>
                <label for="txtFname">First Name:</label>
                <input type="text" id="txtFname" class="form-control" ng-model="vm.user.firstName" />


                <label for="txtLname">Last Name:</label>
                <input type="text" id="txtLname" class="form-control" ng-model="vm.user.lastName" />

                <label for="cboSex">Sex:</label>

                <select name="cboSex" id="cboSex" class="form-control" ng-model="vm.user.sex">

                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>


                <label for="email">Email:</label>
                <input type="email" id="email" name="aen" class="form-control" ng-model="vm.user.email" required />


                <label for="pass">Password:</label>
                <input type="text" id="pass" class="form-control" ng-model="vm.user.password" />



                <label for="bday">Birdthday:</label>
                <input type="text" id="bday" class="form-control" ng-model="vm.user.birdthday" />

                <label for="nn">Nick Name:</label>
                <input type="text" id="nn" class="form-control" ng-model="vm.user.nickName" />
            </div>

            <button class="btn btn-primary" ng-click="vm.save()">Register</button>

            <p>{{vm.message}}</p>
        </div>










    </div>
</div>