<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #4d79ff;">
                <div class="col-xs-8">
                    <div class="container-fluid">
                        <div class="navbar-header col-xs-2">
                            <button style="color:white;" class="btn btn-link  navbar-brand" ng-click="vm.home()">Flezbook</button>

                        </div>

                        <div class="col-xs-6">
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group" style="width:390px">
                                    <input type="text" class="form-control" placeholder="Search" style="width:385px">
                                </div>

                                <button type="submit" class="btn btn-default">Search</button>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <ul class="nav navbar-nav">

                        <li>
                            <a style="color:white;" type="button" class="btn" ng-click="vm.profile()" class="active">{{vm.user.firstName}}</a>
                        </li>
                        <li>
                            <a style="color:white;" type="button" class="btn" ng-click="vm.home()">Home</a>
                        </li>
                        <li>
                            <a style="color:white;" type="button" class="btn" ng-click="vm.messages()">Messages</a>
                        </li>
                        <li>
                            <a style="color:white;" type="button" class="btn" ng-click="vm.requests()">Messages</a>
                        </li>
                        <li>
                            <a style="color:white;" type="button" class="btn" ng-click="vm.logout()">Log Out</a>
                        </li>

                    </ul>

                </div>


            </nav>

        </div>
    </div>



    <div class="row" style="color: #262626; padding-top: 50px;">
        <div class="col-md-12">

            <div class="col-xs-3">

                <img ng-src="{{vm.user.profilePicture}}" height="100" width="100" />
            </div>

            <div class="col-xs-5">
                <h1> {{vm.user.firstName}}  {{vm.user.lastName}} </h1>
            </div>



            <div class="col-xs-3">

                <h1 id="1">Flezbook</h1>


            </div>

            <div class="col-xs-1"></div>

        </div>
    </div>

    <div class="row" style="background-color: #f5f5f0; color: #262626; padding-top: 50px; border-top:ridge;">

        <div class="col-md-12">

            <div class="col-xs-1">
                <!--PRAZAN DEO-->
            </div>

            <div class="col-xs-2" style=" background-color:white;">
                <p style="background-color: #4d79ff; color:white;   display: block;">Menu...</p>
                <ul class="nav nav-pills nav-stacked">
                    <li><a class="btn" ng-click="vm.toggle()">Edit profile</a></li>
                    <li><a class="btn" ng-click="vm.toggle()">About {{vm.user.firstName}}</a></li>
                    <li><a class="btn" ng-click="vm.toggle()">{{vm.user.firstName}}'s posts</a></li>
                    <li><a class="btn" ng-click="vm.toggle()">{{vm.user.firstName}}'s friends</a></li>

                </ul>


            </div>

            <div class="col-xs-1">
                <!--PRAZAN DEO-->
            </div>

            <div class="col-xs-4" style="border-style: ridge; color:#333333;">
                <div ng-show="vm.nesto">
                    <div class="row">
                        <h3 style="text-align: center;">Edit profile</h3>
                    </div>
                    <br>
                    <div class="row">
                        <a>
                            <div class="form-group">
                                <label for="txtFname">First Name:</label>
                                <input type="text" id="txtFname" class="form-control" ng-model="vm.user.firstName" />

                            </div>

                            <div class="form-group">
                                <label for="txtLname">Last Name:</label>
                                <input type="text" id="txtLname" class="form-control" ng-model="vm.user.lastName" />
                            </div>

                            <div class="form-group">
                                <label for="cboLevel">Email:</label>
                                 <input type="text" id="txtEmail" class="form-control" ng-model="vm.user.email" />

                            </div>

                            <div class="form-group">
                                <label for="cboProfilePicture">Profile Picture:</label>

                                <img ng-src="{{vm.user.profilePicture}}" height="60" width="60" />


                            </div>

                            <div class="form-group">
                                <label for="id">User ID:</label>
                                <input type="number" id="id" class="form-control" ng-model="vm.user.userID" />
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary" ng-click="vm.save()">Save changes</button>
                                <!--<button class="btn btn-primary" ng-click="vm.cancel()">Cancel</button>
                                <!-- <button class="btn btn-primary" ng-click="vm.delete()">Delete</button>-->
                                <!-- <button class="btn btn-primary" ng-click="vm.edit()">Edit</button>-->

                            </div>
                        </a>
                    </div>
                </div>
                <div ng-hide="vm.nesto">
                    <div class="row">
                        <h3 style="text-align: center;">About {{vm.user.firstName}}</h3>
                    </div>
                    <div class="row" style="text-align: center;">
                        <label>First Name:</label>
                        {{vm.user.firstName}}
                        <br>


                        <label>Last Name:</label>
                        {{vm.user.lastName}}
                        <br>


                        <label>Email:</label>
                        {{vm.user.email}}
                        <br>


                        <label>Profile Picture:</label>
                        <img ng-src="{{vm.user.profilePicture}}" height="60" width="60" />
                        <br>

                        <label>Birdthday:</label>
                        {{vm.user.birdthday}}
                        <br>


                        <label>Nick name:</label>
                        {{vm.user.nickName}}

                    </div>



                </div>

            </div>

            <div class="col-xs-4">
                <!--PRAZAN DEO-->
            </div>

        </div>


    </div>

</div>